<div class="nav">
  <mat-list class="mat">
    <!--ITEM 1-->
    <!--LOGO, BARRA DE BUSQUEDA, INICIO SESION, REGISTARSE Y CARRITO -->

    <mat-list-item>
      <mat-toolbar>

        <!--menu desplegable para pantallas chicas (pantalla menor a 700px)-->
  <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #seccion="matMenu">
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-button [matMenuTriggerFor]="productos">Productos</button>
    <br>
    <button mat-button>Contacto</button>
      </mat-menu>

        <!--NOMBRE-->
         <!--NOMBRE PANTALLAS GRANDE-->
        <span id="menuTitulo" class="titulo">Afrodita</span>

        <!--NOMBRE PANTALLAS CHICAS-->
        <span id="menuTituloo" class="tituloo ">Afrodita</span>



        <!--BARRA DE BUSQUEDA PANTALLAS GRANDES-->

        <form  class="d-flex " role="search">
          <input id="menuBarra" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <span></span>
        <span class="example-spacer"></span>
      

          <!--BOTON CUENTAS-->
          <button mat-icon-button [matMenuTriggerFor]="usuario">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #usuario="matMenu">
            <button mat-menu-item routerLink="/registro">Registrarse</button>
            <button mat-menu-item routerLink="/iniciosesion">Iniciar sesion</button>
          </mat-menu>
        

        <div class="example-button-row">
          <!--BOTON DE CARRITO-->
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>

        

      </mat-toolbar>

    </mat-list-item>
    <mat-divider></mat-divider>

    <!--item 2-->
    <!-- BOTON INICIO, BARRA DE PRODUCTOS, CONTACTO-->

    <mat-list-item> <mat-toolbar>
      


      <!--Barra de busqueda que aparece en pantallas chicas-->
      <form class="d-flex barra2" role="search">
        <input id="menuBarraa" class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
      </form>

       
      
 <!--BOTON INICIO-->
          <button id="menuInicio" mat-button routerLink="/inicio">Inicio </button>

        <!--BARRA DE PRODUCTOS-->

        <button id="menuProductos" mat-button [matMenuTriggerFor]="productos">Productos</button>
        <mat-menu #productos="matMenu">
          <button mat-menu-item routerLink="/conjuntos">Conjuntos</button>
          <button mat-menu-item routerLink="/corpiños">Corpiños</button>
          <button mat-menu-item routerLink="/bombachas">Bombachas</button>
          <button mat-menu-item routerLink="/medias">Medias</button>
        </mat-menu>


         <!--BOTON  CONTACTO  -->
        <div class="example-button-row">
          <button id="menuContacto" mat-button>Contacto</button>
        </div>



      </mat-toolbar>
    </mat-list-item>
  </mat-list>
</div>