.example-spacer {
    flex: 1 1 auto;
}

p {
    color: black;
}

.titulo {
    text-align: center;
    justify-content: center;
}

.nav {
    background-color: rgb(33, 9, 138);
}

.mat {
    width: 100%;
}
.tituloo {
    text-align: center;
    justify-content: center;
    flex: 10 11 ;
}
.barra2{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 9 9 ;
}

.barraproductos{
    background-color: white;
    color: black;
}




/*RESPONSIVEEEEEEEEEEEEEEEEEE*/

/*pantallas grandes */
@media(min-width:700px) {
    mat-toolbar {
        background-color: rgb(33, 9, 138);
    }

    #menuSecciones {
        display: none;
    }
    #menuBarraa{
        display: none;
    }
    #menuTituloo{
        display: none;
    }
}



/*pantallas chicas*/
@media(min-width: 300px) and (max-width: 600px) {
    mat-toolbar {
        background-color: rgb(33, 9, 138);
    }

    #menuInicio {
        display: none;
    }

    #menuBarra {
        display: none;
    }

    #menuProductos {
        display: none;
    }

    #menuContacto {
        display: none;
    }
    #menuTitulo{
        display: none;
    }
}