<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acciones</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor=" let col of coleccionProductos">
            <th scope="row">1</th>

            <td>
                <img src="{{col.imagen}}" alt="{{col.alt}}">
            </td>
            <td>{{col.nombre}}</td>
            <td>{{col.precio}}</td>
            <td>{{col.descripcion}}</td>
            <td>{{col.categoria}}</td>

            <!--ACCIONES-->

            <td>
                <!--editar la imagen-->
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
                <!--eliminar la imagen-->
                <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>

</table>
