<div class="container">
    <div class="form-content">
        <br>
        <br>
        <h2>Enviar formulario</h2>
        <!--formulario pantallas grandes-->

        <div class="row">
            <form action="https://formsubmit.co/zayvega06@gmail.com" method="POST">

                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="name" class="input">



                <label for="email">Correo electrónico</label>
                <input type="email" name="email" id="email" class="input">



                <label for="subjet">Asunto</label>
                <input type="text" name="subjet" id="subjet" class="input">



                <label for="comments">Comentarios</label>
                <textarea name="comments" id="comments" cols="30" rows="3" class="input"></textarea>




                <input class="btn" type="submit" value="Enviar" (click)="alert()">

                <!--input para que no te envie a la pagina que use para mandar el mensaje al gmail-->
                <input type="hidden" name="_next" value="http://localhost:4200/contacto">
                <!--input para poder evitar el captcha-->
                <input type="hidden" name="_captcha" value="false">

    
        </form>
 </div>


    </div>
</div>