*{
    margin: 0;
    padding: 0;

}
.row{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e1d80bb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.form-content{
    padding: 50px;
    width: auto;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}

.form-content h2{
    color: #F4F6F9;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
label{
    font-size: 17px;
    color: #c2c7cf;
    margin-bottom: 10px;

}
input,textarea{
    padding: 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #F4F6F9;
    margin-bottom: 20px;
    border-radius: 10px;

}
:focus{
    outline: 1px solid #ae8ee2cb
}
.btn{
    background-color:#8570b4 ;
    width: 158px;

    cursor: pointer;
}
.btn:hover{
    background-color: #cda8e6c7;
}

/*responsive*/
 
@media(min-width:600px){
    .input{
       width: 400px; 
    }
    .container{
        padding: 30px;
    }
    .form-content{
        width: 100%;
    }
    form{
        width: 100%;
    }

    
}

/*pantallas chicas*/
@media(min-width: 300px) and (max-width: 500px) {
 
.input{
    width: 300px;
}  
  }
