<app-titulo-princ></app-titulo-princ>
<div class="container">
  <div class="row">
    <mat-grid-list cols="2" rowHeight="1:1">
      <!--texto-->
      <mat-grid-tile>
        <div class="contact-section">
          <h1>¡Nos Encantaría Saber de Ti!</h1>
          <p>En Afrodita, creemos que cada mujer merece sentirse especial y segura. Si tienes alguna pregunta, comentario
            o sugerencia, no dudes en contactarnos. Nuestro equipo está aquí para ayudarte a encontrar la lencería
            perfecta que realce tu belleza y te haga sentir fabulosa.</p>
        
          <h2>¿Tienes Dudas?</h2>
          <p>Si necesitas asistencia sobre tallas, estilos o disponibilidad de productos, estamos a tu disposición.
            También valoramos tus comentarios sobre tu experiencia de compra, ¡así que no dudes en compartir tus
            pensamientos!</p>
        
          <h2>Contáctanos</h2>
          <p>Puedes enviarnos tus dudas y consultas a través del formulario a continuación, y te responderemos a la
            brevedad en tu correo electrónico.</p>
        </div>
        
      </mat-grid-tile>

      <!--formulario-->
      <mat-grid-tile>2</mat-grid-tile>

    </mat-grid-list>
  </div>
</div>