<app-titulo-princ></app-titulo-princ>
<div class="container">
  <div class="row">
    <mat-grid-list cols="2" rowHeight="1:1" id="grande">
      <!--texto-->
      <mat-grid-tile>
        <div class="contact-section">
          <h1>¡Nos Encantaría Saber de Ti!</h1>
          <p>En Afrodita, creemos que cada mujer merece sentirse especial y segura. Si tienes alguna pregunta,
            comentario
            o sugerencia, no dudes en contactarnos. Nuestro equipo está aquí para ayudarte a encontrar la lencería
            perfecta que realce tu belleza y te haga sentir fabulosa.</p>

          <h2>¿Tienes Dudas?</h2>
          <p>Si necesitas asistencia sobre tallas, estilos o disponibilidad de productos, estamos a tu disposición.
            También valoramos tus comentarios sobre tu experiencia de compra, ¡así que no dudes en compartir tus
            pensamientos!</p>

          <h2>Contáctanos</h2>

          <h3>Nuestro Whatsapp</h3>
          <a href="https://wa.me/+5492995862049">
            <p>299-5862049</p>
          </a>

          <h3>Nuestro instagram</h3>
          <a href="https://www.instagram.com/cet30cipo?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
            <p>cet30cipo</p>
          </a>

        </div>

      </mat-grid-tile>

      <!--formulario-->
      <mat-grid-tile>
        <app-formulario></app-formulario>
      </mat-grid-tile>

    </mat-grid-list>


    <div class="h1" id="grande">
      <hr>
      <p class="pe">Nuestra ubicación</p>

      <div class="mapa">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.743270253443!2d-67.98822642420805!3d-38.929845071717246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses-419!2sar!4v1731411797244!5m2!1ses-419!2sar"
          width="1000px" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>





    <!--Pantallas chicas-->
    <div class="chico" id="chico">
      <h2>¿Tienes alguna pregunta o necesitas más información?</h2>
      <h3>Completa el formulario y nos pondremos en contacto contigo lo antes posible.</h3>
      <br><br>
      <app-formulario></app-formulario>
      <br>
      <div class="h1" id="chico">
        <hr>
        <p class="pe">Nuestra ubicación</p>

        <div class="mapa">

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.743270253443!2d-67.98822642420805!3d-38.929845071717246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses-419!2sar!4v1731411797244!5m2!1ses-419!2sar"
            width="350px" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

  </div>
</div>