/* Estilos del contenedor principal */
.contenedor {
  background-color: #21098a;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

img {
  height: 100px; /* Tamaño del logo */
  width: auto;
}

p {
  font-size: 18px;
  font-family: "Lora", serif;
  color: rgb(255, 244, 244);
  margin: 5px 0;
}

p.underline-on-hover:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Lora", serif;
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}

/* Alineación del grid en pantallas pequeñas */
@media (max-width: 600px) {
  .contenedor {
    text-align: left;  /* Alineación del contenido en pantallas pequeñas */
  }
  img {
    height: 80px;
  }

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }
}

/* Alineación del grid en pantallas medianas */
@media (min-width: 601px) and (max-width: 960px) {
  img {
    height: 90px;
  }

  p {
    font-size: 17px;
  }

  h1 {
    font-size: 21px;
  }
}
