/* Estilos del contenedor principal */
.contenedor {
  background-color: #21098a;
  padding: 20px;
  margin-top: 20px;
  text-align: center;

}

.contenedor2{
  background-color: #21098a;
  text-align: center;
  height: 300px;

}

img {
  height: 100px; /* Tamaño del logo */
  width: auto;
}

.imagen{
  width: auto;
  height: 90px;

}

.h1{
  font-size: 18px;
  font-family: "Lora", serif;
  color: rgb(255, 244, 244);
}
.p{
  font-size: 13px;
  font-family: "Lora", serif;
  color: rgb(255, 244, 244);
}




p {
  font-size: 18px;
  font-family: "Lora", serif;
  color: rgb(255, 244, 244);
  margin: 5px 0;
}

p.underline-on-hover:hover {
  text-decoration: underline;
}

.cuadriculaa{
  width: 250px;
}

h1 {
  font-family: "Lora", serif;
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}

/* pantallas grandes */
@media (min-width: 600px) {
#chico{
  display: none;
}
}

/* pantallas chicas */
@media(min-width: 300px) and (max-width: 500px) {

  #grande{
    display: none;
  }
 

}
