<br id="beerre">

<!--CARRUSEL PANTALLAS GRANDES -->
<div id="menuCarrusel" class="carousel slide carousel-fade carrusel" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://acdn.mitiendanube.com/stores/001/171/224/themes/new_linkedman/1-slide-1663782296517-8309307918-9b83ced254cabe659e4a29b4f449b2cf1663782297-1920-1920.webp?1981809343" alt="imagen1">
        </div>
        <div class="carousel-item">
            <img src="https://acdn.mitiendanube.com/stores/001/171/224/themes/new_linkedman/1-slide-1682603493892-2944837623-d73285e7ccc1ddf11014da8f0cc43ff51682603494-1920-1920.webp?1981809343" alt="imagen2">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
<!--ESTOS DESAPARECEN EN PANTALLAS CHICAS :) -->
<br id="beerre">
<br id="beerre">
<br id="beerre">

<!--CARRUSEL PANTALLAS CHICAS-->

<div id="menuCarrusel2" class="carousel slide carousel-fade carrusel2" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://acdn.mitiendanube.com/stores/001/171/224/themes/new_linkedman/1-img-778652194-1712956492-83713d52b94075bea9b2481835aa72211712956493-640-0.jpg?1981809343" alt="imagen1">
        </div>
    
        <div class="carousel-item">
            <img src="https://acdn.mitiendanube.com/stores/001/171/224/products/img_3193-11d4d91b08d80ad1ae16994931490563-640-0.webp" alt="imagen3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>