.container{
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.boton{
    width: 320px;
    margin: auto;
    background-color: rgb(74, 74, 224);
}

.link {
    color: black; 
    text-decoration: none; 
    transition: color 0.3s, text-decoration 0.3s; 
}

.link:hover {
    color: blue; 
    text-decoration: underline; 
}