<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 image-container">
                <img src="https://acdn.mitiendanube.com/stores/001/171/224/themes/new_linkedman/img-44075283-1663780389-7b6800453c157f74e9d5b21ecd5cc4751663780390.jpg?1981809343" alt="lingerie">
            </div>
        </div>
        <div class="col">
            <div class="p-3 image-container">
                <img src="https://acdn.mitiendanube.com/stores/001/171/224/themes/new_linkedman/img-1870493204-1663780410-5c13382978735c8ff9ae353e88cb43331663780411.jpg?1981809343" alt="bombachas">
            </div>
        </div>
        <div class="col">
            <div class="p-3 image-container">
                <img src="https://acdn.mitiendanube.com/stores/001/171/224/themes/new_linkedman/2-img-736249860-1712956648-5043710fddbca8de91f26aefc7e246321712956649-640-0.webp?1981809343" alt="corpiños">
            </div>
        </div>
    </div>
</div>
      
