<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 image-container">
                <img src="./assets/categorias/1.png" alt="lingerie" routerLink="/conjuntos">
            </div>
        </div>
        <div class="col">
            <div class="p-3 image-container">
                <img src="./assets/categorias/3.png" alt="corpiños" routerLink="/corpiños">
            </div>
        </div>
        <div class="col">
            <div class="p-3 image-container">
                <img src="./assets/categorias/2.png" alt="bombachas" routerLink="/bombachas">
            </div>
        </div>
    </div>
</div>
      
