<div class="container">
  <div class="row">

    <div class="col">

      <div *ngFor="let i of info" class="contenido" >

        <mat-card class="example-card"> 
          
            <img mat-card-image src="{{i.imagen}}"  >  



          <mat-card-header> 
            
            <mat-card-title class="nombre">{{i.nombre}}</mat-card-title>
            
          </mat-card-header>

          <br>
        
        
          <mat-card-content>
           
           

            <mat-accordion class="detalles">
              <mat-expansion-panel class="detalles">
                <mat-expansion-panel-header class="detalles">
                  <mat-panel-title> Detalles</mat-panel-title>
                </mat-expansion-panel-header> 
                <p>
                  {{i.descripcion2}}
                </p>
                <p>
                  {{i.descripcion}}
                </p>
                 <mat-card-subtitle class="precio">{{i.precio}}</mat-card-subtitle>
              </mat-expansion-panel>
            </mat-accordion>
            
          </mat-card-content>
          <mat-card-actions>
            
            <div class="example-button-row botonn">
              <button type="button" class="btn btn-outline-info">Añadir al carrito</button>
            </div>
      
          </mat-card-actions>
        </mat-card> 


      </div>
    </div>
  </div>
</div>
  
  
