.container{
    display:flex ;
    padding: 10px;
    justify-content: center;
    color: aliceblue;

   
}

h1{
    text-align: center;

}

.contenido{
    width: 15rem;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;

}
.precio{
    text-align: center;
    font-size: 20px;
}

.boton{
    justify-content: center;
}
.guardado{
    width: 5px;
}
