h1{
    text-align: center;
    font-size: 100;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.boton{
    color: rgb(255, 255, 255);
    background-color: #21098a;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
}

.booton{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.botonn{
    justify-content: center;
    align-items: center;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}