<div class="container">
    <div class="row">
        <h1>Medidas Bombachas</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Talle</th>
                    <th scope="col">Cintura</th>
                    <th scope="col">Cadera</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">XS</th>
                    <td>58 - 66</td>
                    <td>65 - 80</td>

                </tr>
                <tr>
                    <th scope="row">S</th>
                    <td>67 - 76</td>
                    <td>75 - 90</td>

                </tr>
                <tr>
                    <th scope="row">M</th>
                    <td>77 - 85</td>
                    <td>85 - 100</td>

                </tr>

                <tr>
                    <th scope="row">L</th>
                    <td>86 - 95</td>
                    <td>90 - 115</td>

                </tr>

                <tr>
                    <th scope="row">XL</th>
                    <td>96 - 104</td>
                    <td>95 - 120</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>