<div class="container">
    <h1>Carrito de compras</h1>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let pedido of coleccionPedidos">

                <mat-grid-list cols="2" rowHeight="5:2">
                    <mat-grid-tile>
                        {{pedido.cantidad}} {{pedido.productos.nombre}} - ${{pedido.total}}
                    </mat-grid-tile>


                    <mat-grid-tile> 
                         <button class="btn btn-danger" (click)="quitarPedido(pedido)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-grid-tile>
                    
                  </mat-grid-list>  
            </li>
        </ul>
        <mat-grid-list cols="2" rowHeight="2:1">
            <!--Boton final de compra-->
            <mat-grid-tile>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Finalizar compra
                  </button>
            </mat-grid-tile>


            <!--Boton seguir comprando-->
            <mat-grid-tile>
                <button type="button" class="btn btn-primary" routerLink="/productos">Seguir comprando</button>
            </mat-grid-tile>
          </mat-grid-list>
          
          

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Finalizar compra</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Si desea finalizar su compra, contáctese con nuestro personal.</p>
            <p>1- Enviar captura de su carrito de compras.</p>
            <p>2- Coodinar con nuestro personal retiro o envio del producto.</p>
            <br>
            <p>¡Muchas gracias por confiar en Afrodita lingerie!</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn booton" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn boton">
            <a href="https://wa.me/+542995862049" target="_blank" rel="noopener noreferrer">Whatsapp</a>
          </button>
        </div>
      </div>
    </div>
  </div>

    </div>
</div>