<div class="container">
    <h2>Carrito de compras</h2>
    <div class="row">
        <div class="col-lg-4">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let pedido of coleccionPedidos">
                {{pedido.cantidad}}   {{pedido.productos.nombre}} - ${{pedido.total}}


                <button class="btn btn-danger" (click)="quitarPedido(pedido)">
                    <mat-icon> Delete</mat-icon>
                </button>
            </li>
        </ul>
        </div>
    </div>
</div>
