<div class="cointaner">
<div class="row">
  <div class="col-lg-12" *ngIf="compraVisible">
    <div class="col-lg-4">
      <div class="card text-bg-info mb-3">
        <ul class="list-group">

          <h3>Ultima compra:</h3>

          <li class="list-group-item">
            {{productoReciente}}
          </li>

        </ul>

      </div>
    </div>
  </div>







  <div class="row col" ><!--Card para mostrar todos los productos que el admin ingrese a la base de datos -->
    <div class="container" *ngFor="let producto of coleccionProductos">
      <div class="card" style="width: 18rem;">
        <img src="{{producto.imagen}}" class="card-img-top" alt="{{producto.alt}}">
        <div class="card-body">

          <h2 class="card-title">{{producto.nombre}}</h2>
          <p class="card-text">${{producto.precio}}</p>


          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verMas"
            (click)="mostrarVer(producto)">Ver más</button>
        </div>
      </div>
    </div>

    <!--Modal para ver más información -->

    <div class="modal fade" *ngIf="modalVisible" id="verMas" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-2" id="exampleModalLabel">{{productoSeleccionado.nombre}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{productoSeleccionado.imagen}}" width="250px" height="400px" alt="{{productoSeleccionado.alt}}">
            <br><br>
            <div class="mb-3">
              {{productoSeleccionado.descripcion}}
            </div>

            <div class="mb-3">
              Talles: {{productoSeleccionado.descripcion2}}
            </div>

            <div class="mb-3">
              ${{productoSeleccionado.precio}}

            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
              (click)="agregarProducto(productoSeleccionado)">Agregar</button>
            <button type="button" class="boton2 btn btn-danger" data-bs-dismiss="modal">Cerrar</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>