<div class="container">
    <div class="row">
        <h1>Medias Corpiños</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Talle</th>
                        <th scope="col">Taza corpiño</th>
                        <th scope="col">Cont. Busto CM</th>
                        <th scope="col">IRAM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>85</td>
                        <td>80 - 85</td>
                        <td>38</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>90</td>
                        <td>86 - 93</td>
                        <td>40 - 42</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>95</td>
                        <td>86 - 93</td>
                        <td>40 - 42</td>
                      </tr>
        
                      <tr>
                        <th scope="row">4</th>
                        <td>100</td>
                        <td>102 - 107</td>
                        <td>48</td>
                      </tr>
        
                      <tr>
                        <th scope="row">5</th>
                        <td>105</td>
                        <td>108 - 112</td>
                        <td>50</td>
                      </tr>
                    </tbody>
                  </table>
          


     
        
    </div>
</div>
